<!-- home.component.html -->

<div class="home-container">
    <div class="left-side">
    
  <pre class="main-heading"><h1>Welcome to GitHub 
   Profile Search</h1></pre>

    <h2>What you can do?</h2>
    <p class="description">GitHub Profile Search presents an intuitive and streamlined approach to explore the varied collection of projects hosted on GitHub. It enables users to effortlessly search for the public repositories linked to a specific GitHub user. Enter the username and delve into a rich source of open-source projects.          </p>
          
      <!-- Add any other content for the left side -->
     
    </div>
    <div class="right-side">
      <img src="https://user-images.githubusercontent.com/74038190/212741999-016fddbd-617a-4448-8042-0ecf907aea25.gif">
      <!-- Adjust the image source and alt text accordingly -->
    </div>
    
    
  </div>
  