/* header.component.css */

.app-header {
    background-color: #000; /* Dark theme background color */
    color: #fff; /* Dark theme text color */
    padding: 15px 10px;
    display: flex;
  }
  
  .logo {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }
  .app-name{
    margin-left: 20px;
    font-family:sans-serif;
  }
  
  
  
